<h1>School Class Form</h1>
<%= form_tag school_classes_path do %>
  <%= label_tag :title %> <br>
  <%= text_field_tag :title %> <br>
  <br>
  <%= label_tag :room_number %> <br>
  <%= text_field_tag :room_number %> <br>
  <br>
  <%= submit_tag "Submit"%>
<% end %>
